@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Anonymous Pro", cursive, sans-serif;
  color: #ffffff;
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 60px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
body {
  /* background-color: #7cc6fe; */
  background-image: linear-gradient(to right top, #845ec2, #e65faa, #ff8080, #ffbb61, #f9f871);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 75%;
  margin: 20px;
}

.game-cards-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.game-card {
  border: 1px solid #e65faa;
  padding: 15px;
  background-color: #845ec2;
  margin: 7px;
  cursor: pointer;
  box-shadow: 7px 7px 7px 0px rgba(99, 45, 45, 0.75);
}

.game-card:hover {
  box-shadow: 7px 7px 7px 0px #f9f871;
}

.title-div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-div .title:hover {
  color: #f9f871;
}

.menu-icon {
  font-size: 40px;
  margin-left: 20px;
}

.menu-icon:hover {
  color: #9ee8aa;
}

.correct-answer-icon {
  color: rgb(121, 255, 157);
}

.wrong-answer-icon {
  color: rgb(255, 115, 115);
}

.inactive-color {
  background-color: black;
}
.inactive-color:hover {
  background-color: black;
}

/* MINI TRIVIA GAME --------------------------- */
.mini-trivia {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.score-section {
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

.question-count {
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
}

.question-text {
  margin-bottom: 12px;
}

.timer-text {
  background: rgb(230, 153, 12);
  padding: 15px;
  margin-top: 20px;
  margin-right: 20px;
  border: 5px solid rgb(255, 189, 67);
  border-radius: 15px;
  text-align: center;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mini-trivia button {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #252d4a;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid #234668;
  cursor: pointer;
}

.correct {
  background-color: #9ee8aa;
}

.incorrect {
  background-color: #ff3333;
}

.mini-trivia button:hover {
  background-color: #555e7d;
}

.mini-trivia button:focus {
  outline: none;
}

button svg {
  margin-right: 5px;
}

p {
  font-size: 20px;
}

/* MOVIE TRIVIA GAME --------------------------- */
.trivia-card-div {
  display: flex;
  flex-direction: column;
  border: 5px solid #845ec2;
  padding: 15px; 
  background-color: #845ec2;
  border-radius: 5px;
  counter-reset: listStyle;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trivia-answer-p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.trivia-answer-p::before {
    counter-increment: listStyle;
    content: counter(listStyle, lower-alpha) '.';
}
.trivia-answer-btn {
  border: 1px solid #e65faa;
  width: 100%;
  color: #ffffff;
  background-color: #845ec2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  cursor: pointer; 
  margin-left: 1em;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .trivia-answer-btn::before { 
  margin-left: 1em;
 }

.trivia-answer-btn:hover {
   background-color: #e65faa;
 }

.trivia-answer-btn:focus {
   outline: none;
 }